<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="log.app-name" source="log.app-name" />

    <property name="DEV_HOME" value="./analytics-service/logs"/>
    <property name="APP_NAME" value="analytics-service"/>

    <include resource="logback-common.xml"/>
</configuration>