<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="log.app-name" source="log.app-name" />

    <property name="DEV_HOME" value="./kafka-streams-service/logs"/>
    <property name="APP_NAME" value="${log.app-name}"/>

    <include resource="logback-common.xml"/>
</configuration>